//font-face(OpensansRegular, "../../fonts/opensans/opensans-regular");
//font-face(OpensansBold, "../../fonts/opensans/opensans-bold");

$fontOpensansRegular = 'OpensansRegular', 'Verdana', sans-serif
$fontOpensansBold = 'OpensansBold', 'Verdana', sans-serif
$fontSerif = 'Times New Roman', serif
