.icon
	display inline-block
	//@extend .icons
	//&:before{
	//	padding-right: 25px;
	//}

.icon--22{
	@extend .icon;
	width: 22px;
	height: 22px;
	line-height: 22px;
	vertical-align: bottom;
}

.icon--16{
	@extend .icon;
	square 16px
	line-height: 16px;
	vertical-align: bottom;
}

.icon--after-text{
	margin-left: 4px;
}

.icon--before-text{
	margin-right: 4px;
}
.icon--before-text-2x{
	margin-right: 8px;
}

//icon-face('.icon--calendar',			'icon-calendar');
//icon-face-a('.icon--mail',				'icon-mail');
//icon-face-a('.icon--twitter',			'icon-twitter');
//icon-face-a('.icon--facebook',			'icon-facebook');
//icon-face-a('.icon--gplus',			'icon-gplus');
//icon-face-a('.icon--arrow-right',		'icon-arrow-right');







