
/* COLORS
*************************************/
$colorFont = #666
$colorLink = #44f
$colorHover = #f00
$colorBackground = #fff


/* FONTS
*************************************/
$fontsizeBase = 12px
