.m-button
	f 1.1em
	lh 1.3em
	tt uppercase
	background white
	color $colorLink
	border 3px solid $colorLink
	padding 5px 55px
	display inline-block
	text-align center
	cursor pointer
	transition all 150ms ease

	@media screen and (max-width: 992px)
		f  14px
		lh 24px
		padding 6px 30px


	&:hover
	&:active
		//background
		//color white
	&:focus
		outline 0

.m-button--black
	background black
	background rgba(black, .8)
	color white

	&:hover
	&:active
		//border-color