extends _layout

block subpage_data
	- dp.page.title = "About Skrin"
	- dp.page.slug = "about"
	- dp.page.class = "l-about"
	- dp.page.description = "Dopamine is a lightweight Node app to ease sitebuilding with modular Jade templates and Stylus"
	- dp.page.keywords = "dopamine,sitebuild,jade,stylus"

block content

	h1 Skrin
	h2 Test websites on your small screen like it would appear on huge monitors

	h3 Why?

	p
		|There are several cases where I need to optimize or check a website on fullHD  or bigger resolution
		| while having only a 13" macbook with me. I tried a one or two other alternatives (there are quite few) but none
		| of them offered authentic preview and easy control over this problem

	h3 How does it work?
	p
		|Paste your URL into the top navigation panel, select a monitor size on the left to test with.
		|Tick in <strong>fitWidth</strong> checkbox if you want to see the whole page shrinked into your browser window.

	h3.warn What is it not for

	ul
		li Test sites for mobile screens. <a href="http://cybercrab.com/screencheck/">There</a> are <a href="http://quirktools.com/screenfly/">tons</a> of <a href="http://lab.maltewassermann.com/viewport-resizer/">them</a> already u can choose from.
		li Test sites in shitty browsers


	h3 Tested on

	ul
		li Chrome latest OSX
		li Firefox latest OSX


	h3 Known issues

	ul
		li Selecting a smaller screen from options while you have bigger browser window could result whatever, I don't know
		li <strong>fitHeight</strong> feature is coming soon, to disable double scrolling.

	h3 Contribute

	p Feel free to contribute by adding <a href="https://github.com/zsitro/skrin/issues">issues</a> on GitHub or by creating <a href="https://github.com/zsitro/skrin/">pull requests</a> with your shiny improvements/features
