extends _layout

block subpage_data
	- dp.page.title = "About Skrin"
	- dp.page.slug = "about"
	- dp.page.class = "l-about"
	- dp.page.description = "Dopamine is a lightweight Node app to ease sitebuilding with modular Jade templates and Stylus"
	- dp.page.keywords = "dopamine,sitebuild,jade,stylus"

block content

	h1 Skrin
	h2 Test websites on your small screen like it would appear on huge monitors

	hr

	h3 How does it work?
	p
		|Paste your URL into the top navigation panel, select a monitor size on the left to test with.
		|Tick in <strong>fitWidth</strong> checkbox if you want to see the whole page shrinked into your browser window.

	h3 What
