extends _layout

block subpage_data
	- dp.page.title = "Home"
	- dp.page.slug = "test"
	- dp.page.class = "l-test"
	- dp.page.description = "Dopamine is a lightweight Node app to ease sitebuilding with modular Jade templates and Stylus"
	- dp.page.keywords = "dopamine,sitebuild,jade,stylus"

block content

	h1 skrin
	h2 Teh scr

